*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.page-container{
    display: flex;
    min-height: 50vh;
    margin-left: 250px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.column1{
    background-color: hsl(31, 77%, 52%);
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 70px; 
    padding-bottom: 70px;   
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
}
.column2{
  background-color: hsl(184, 100%, 22%);  
  padding-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}
.column3{
    background-color: hsl(179, 100%, 13%);
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.column1 p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
}
.column2 p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
}
.column3 p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
}
.column1 h2{
    font-family: 'Big Shoulders Display', cursive ;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    font-size: 30px;
}

.column2 h2{
    font-family: 'Big Shoulders Display', cursive ;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    font-size: 30px;
}
.column3 h2{
    font-family: 'Big Shoulders Display', cursive ;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    font-size: 30px;
}
.cta1{
    background-color: white;
    padding: 20px 50px;
    text-decoration: none;
    color: hsl(31, 77%, 52%);
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 30px;
}
.cta2{
    background-color: white;
    padding: 20px 50px;
    text-decoration: none;
    color: hsl(184, 100%, 22%);
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 30px;
}
.cta3{
    background-color: white;
    padding: 20px 50px;
    text-decoration: none;
    color: hsl(179, 100%, 13%);
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 30px;
}